/* BlinkingLights.css */
.blinking-lights-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .blinking-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    animation: blink 1s infinite;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  