@import url("https://fonts.googleapis.com/css2?family=popins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"popkins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('') ;
    background-size: cover;
    background-position: center;
    
}
.wrapper{
    width: 420px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
}
.wrapper h1{
    text-align: center;
    /* font-size: 36px; */
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    /* background-color: crimson; */
}
.input-box input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 0, 106, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
color: #fff;
}
/* .input-box i {
    position: absolute;
    right: 20px;
    left: 40px;
    
} */
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
 accent-color: #fff;
 margin-right: 5px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
 .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff; 
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
 }
 .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
 }
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
 .register-link p a:hover{
    text-decoration: underline;
 }
 .wrapper .have{
    position:absolute;
    left: 250px;
    top: 356px;
    font-size: small;
 }
 .wrapper .have a{
    text-decoration: none;
    color:white;
 }
 .wrapper .have a:hover{
    text-decoration: underline;
 }